<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <dev>
        <p>Income:</p>
        <textarea name="message" rows="10" cols="40">     </textarea>
    </dev>

    <dev>
        <p><input id="send" type="text" name="send" size=40></p>
        <p><input id="sendNick" type="text" name="sendNick" size=10></p>
        <button onclick="send()">Send</button>
    </dev>

</body>
<script type="text/javascript" src="index.js"></script>

</html>