<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <p>Msg Output:</p>
        <textarea name="message" rows="10" cols="40">     </textarea>
        <p>Users:</p>
        <textarea name="users" rows="10" cols="10">   </textarea>
        <p id='name'>Current user:
            <%=nickname%>
        </p>
        <p>Select User/Group name:</p>
        <p><input id="p2pID" type="text" name="p2pID" size=10></p>
        <p>Msg Input:</p>
        <p><input id="p2pSend" type="text" name="p2pSend" size=40></p>
        <p><button onclick="p2pSendMsg()">Send Msg</button></p>

    </div>

    <div id='panel'>
        <button onclick="loginPan()">Login Panel</button>
        <dev id='login'>
            <!-- login panel area -->
        </dev>
    </div>


</body>
<script type="text/javascript" src="pTpSendMsg.js"></script>
<script type="text/javascript" src="pTpGetMsg.js"></script>
<script type="text/javascript" src="ChooseUser.js"></script>
<script type="text/javascript" src="ConnectedUsers.js"></script>
<script type="text/javascript" src="LoginLogOutPan.js"></script>

</html>